/home/caithaug/genome_analysis_course/Genome-analysis/analyses/02_genome_assembly/output-files/
/home/caithaug/genome_analysis_course/Genome-analysis/analyses/03_RNA_assembly/trinity_output_dir/
/home/caithaug/genome_analysis_course/Genome-analysis/analyses/00_quality_control/trimmomatric-output/
/home/caithaug/genome_analysis_course/Genome-analysis/analyses/01_preprocessing/trimmomatric-output/
/home/caithaug/genome_analysis_course/Genome-analysis/analyses/04_genome_assembly_evaluation/assembly_output_graph.contig
/home/caithaug/genome_analysis_course/Genome-analysis/analyses/04_genome_assembly_evaluation/quast_results/
/home/caithaug/genome_analysis_course/Genome-analysis/analyses/04_genome_assembly_evaluation/reference_genome/
